<div class="container">
    <div class="active">
      All Boards↓
    </div>
 
<% @articles.each do |article| %>
  <div class="card">
    <div class="card_image">
      <%= image_tag 'cute-k.png' %>
    </div>
    <div class="card_title">
        <%= article.title %>
    </div>
    <div class="card_content1">
        <%= article.content %>
    </div>    
    <div class="card_content">
      <div class="card_detail">
        <%= image_tag 'Untitled design.png' %>

      </div>
      <div class="card_comment">
        <%= image_tag 'message-square-outline.png' %>
        <span>30</span>
      </div>
    </div>
  </div>
<% end %>