!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AimiBlogapp8
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
  %body
    %header.header
    %p.header_pageTitle 最新記事
    .dropdown
      = image_tag 'default-avatar.png', class: 'header_avatar dropbtn'
      .dropdown-content
        %a{:href => "#"} プロフィール
        %a{:href => "#"} ログアウト
    %p.notice= notice
    %p.alert= alert
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = yield